*{
    margin: 0;
    padding: 0;
}
boy {
    background-color: aqua;
}
h1 {
    text-align: center;
    color: blue;
}
p {
    color: red;
}
h6 {
    color:brown;
    text-align: right;
    font-size: 5px;
}
